body, html
{
    height: 100%;
    display: flex;
    flex-direction: column;
}
main
{
    flex: 1;
}

#container{
    display: flex;
    justify-content: center;
    width: 900px;
    height: 920px;
    margin: 60px auto;
    border: 2px solid black

}

.fc .fc-toolbar-title {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.fc .fc-button{
    font-size: 0.75em;
}

#progreso{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.custom-event-dot {
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 50%;
    transition: transform 0.2s;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.fc-event {
    position: relative;
    background: transparent !important;
    border: none !important;
}

#titleTooltip {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    z-index: 9999;
}
