.footer_temp {
    background-color: black;
    color: white;
    padding: 40px;
}

.footer_top {
    display: flex;
    justify-content: space-between;
}

.footer_columns {
    display: flex;
    gap: 60px;
    margin-right: 7em;
}

#logo_footer {
    font-size: 36px;
    margin-bottom: 20px;
}

.footer_texts {
    font-size: 20px;
    margin: 6px 0;
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: white;
    margin: 40px 0;
    width: auto;
}

.footer_bottom {
    display: flex;
    align-items: center;
    gap: 40px;
}


.icon_text_row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 6px;
}

.icon_text_row img {
    width: 24px;
    height: 24px;
}




