*
{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: "Artifakt Element Light", serif;
}
.header_temp
{
    display: flex;
    background: linear-gradient(to bottom, #d51313, #a81515);
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
}
#logo
{
    font-size: 50px;
    color: white;
    margin-left: 70px;
    font-family: "Consolas", serif;

}
.enlaces {
    text-decoration: none;
    color: white;
    margin-inline: 5px;
    font-size: .7em;
    font-family: "Barlow", sans-serif;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.enlaces:hover {
    background-color: #333;
    color: lightblue;
}

nav
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap:20px;
    align-items: center;
}
#buttons
{
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}
#buttons-login
{
    margin-right: 25px;
}
.logs {
    margin-inline: 3px;
    background-color: black; /* cambiado de rojo a negro */
    color: white;
    border-style: none;
    font-size: 0.8em;
    padding: 0.5em 1em;
    font-family: "Barlow", sans-serif;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logs:hover {
    background-color: #333;
}

#foto_perf
{
    height: 1.5em;
    width: 1.5em;
    border-radius: 0.7em;
}

#shop{
    width: 1.5em;
    height: 1.5em;
    margin-top: 0.5em;
    display: flex;
    justify-content: flex-end;
}

#chat{
    margin-top: 0.5em;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: flex-end;
}

#spanish, #english{
    width: 30px;
}