html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

body {
     font-family: 'Inter', sans-serif;
     background-color: #f5f7fa;
     color: #333;
 }

main {
    background-color: white;
    border-radius: 12px;
    padding: 2em;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 2em auto;
}

#info {
    margin-inline: 0;
    background-color: #e1e7ef;
    border-radius: 8px;
    padding: 1em;
    font-weight: 500;
}

#title {
    text-align: center;
    font-size: 1.8em;
    color: #2b3a67;
}

#durationContainer {
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 1.1em;
    color: #2b3a67;
}

#restContainer {
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 1.1em;
    color: #2b3a67;
}

 #selectors {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1.5em;
     margin: 2em auto;
 }

 .horizontal-selectors {
     display: flex;
     gap: 1em;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }

 .search-bar {
     display: flex;
     gap: 1em;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }

 #selectors label {
     font-weight: bold;
 }

 #selectors select,
 #selectors input {
     padding: 0.5em;
     border-radius: 6px;
     border: 1px solid #ccc;
     font-size: 0.95em;
 }

#exercises {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#exercises > div {
    background-color: #e6ecf3;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

#exercises a {
    text-decoration: none;
    color: #333; /* gris oscuro */
    font-weight: 600;
    transition: color 0.2s ease;
}

#exercises a:hover {
    color: #000; /* negro al pasar el mouse */
}

