.rectangle{
    width: 300px;
    height: 984px;
    border: 1px black solid;
    margin-left: 178px;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.rectangle1{
    width: 299px;
    height: 85px;
    border: 1px black solid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
 .rectangle2{
      width: 299px;
      height: 85px;
      border: 1px black solid;
  }
.rectangle2 p {
    margin-top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#icon{
    width: 65px;
    height: 60px;
    margin: 10px 10px 10px 20px;
}
.container {
    display: flex; /* Organiza los rectángulos en fila */
}

.chat {
    width: 840px;
    height: 984px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.chat1 {
    width: 840px;
    height: 85px;
    border: 1px solid black;
    display: flex;
    align-self: flex-start;
}

#icon1 {
    width: 65px;
    height: 60px;
    margin: 10px 10px 10px 20px;
}

.message {
    width: 840px;
    height: 91px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

#chatbox {
    width: 200px;
    height: 75px;
    border: 1px solid black;
    box-sizing: border-box;
    align-self: flex-end;
}

