* {
    margin: 0;
    padding: 0;
    font-size: 30px;
    box-sizing: border-box; /* importante para mantener tamaños estables */
}

.info_exercise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em auto;
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

#name_exercise {
    width: 80%;
    padding: 20px;
    text-align: center;
}

#reps {
    width: 20%;
    padding: 20px;
    text-align: center;
}
