body, html
{
    height: 100%;
    display: flex;
    flex-direction: column;
}
main
{
    flex: 1;
}

#container{
    display: flex;
    justify-content: center;
    width: 900px;
    height: 920px;
    margin: 60px auto;
    border: 2px solid black

}

.fc .fc-toolbar-title {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.fc .fc-button{
    font-size: 0.75em;
}

