*
{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: "Artifakt Element Light", serif;
}
.header_temp
{
    display: flex;
    background: linear-gradient(to bottom, #191970, mediumblue);
}
#logo
{
    font-size: 50px;
    color: white;
    margin-left: 70px;
    font-family: "Consolas", serif;

}
.enlaces
{
    text-decoration: none;
    color: white;
    margin-inline: 5px;
    font-size: .7em;
    font-family: "Barlow", sans-serif;
}
.enlaces:hover{
    color: lightblue;
}
nav
{
    margin-left: 50px;
    margin-right: auto;
    display: flex;
    align-items: center;
}
#buttons
{
    margin-right: 30px;
    display: flex;
    align-items: center;
}
#buttons-login
{
    margin-right: 25px;
}
.logs
{
    margin-inline: 3px;
    background-color: #191970;
    color: white;
    border-style: none;
    font-size: 0.8em;
    padding: 5px;
    font-family: "Barlow", sans-serif;
}
#foto_perf
{
    height: 1.5em;
    width: 1.5em;
    border-radius: 0.7em;
}