<link rel="stylesheet" href="/PWM-Fitness-App-master/Styles/header.css">
<div class="header_temp">
<p id="logo">Logo</p>
<nav>
    <a href="/PWM-Fitness-App-master/Pages/create_rutine.html" class="enlaces">Lorem</a>
    <a href="/PWM-Fitness-App-master/Pages/edit_rutine.html" class="enlaces">Lorem</a>
    <a href="/PWM-Fitness-App-master/Pages/add_exercise.html" class="enlaces">Lorem</a>
</nav>
<img id="shop" src="/PWM-Fitness-App-master/Resources/40368.png" onclick="location.replace('http://localhost:63342/PS/PWM-Fitness-App-master/Pages/shop.html')">
<img id="chat" src="/PWM-Fitness-App-master/Resources/chat.png" onclick="location.replace('http://localhost:63342/PS/PWM-Fitness-App-master/Pages/chat.html')">
<div id="buttons">
    <div id="buttons-login">
        <button class="logs" onclick="/Pages/login.html">Lorem impsum</button>
        <button class="logs">Lorem impsum</button>
    </div>
    <img id="foto_perf" src="/PWM-Fitness-App-master/Resources/imagen_vertical.png" onclick="location.replace('http://localhost:63342/PS/PWM-Fitness-App-master/Pages/profile.html')">
</div>
</div>