<link rel="stylesheet" href="/Templates/Footer/footer.css">
<div class="footer_temp">
    <div>
        <section>
            <h2>Logo</h2>
        </section>
        <section>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </section>
        <section>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </section>
        <section>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </section>
    </div>
    <div>
        <nav>
            <a href="#">Dorem Ipsum</a>
            <a href="#">Dorem Ipsum</a>
            <a href="#">Dorem Ipsum</a>
        </nav>
        <div>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>


