<div class="footer_temp">
    <div class="footer_top">
        <div>
            <section>
                <h2 id="logo_footer">LOGO</h2>
            </section>
        </div>
        <div class="footer_columns">
            <section>
                <h3 class="footer_texts">Lorem Ipsum</h3>
                <p class="footer_texts">Lorem Ipsum</p>
                <p class="footer_texts">Lorem Ipsum</p>
                <p class="footer_texts">Lorem Ipsum</p>
                <p class="footer_texts">Lorem Ipsum</p>
                <p class="footer_texts">Lorem Ipsum</p>
            </section>
            <section>
                <h3 class="footer_texts">Lorem Ipsum</h3>
                <p class="footer_texts">Lorem Ipsum</p>
                <p class="footer_texts">Lorem Ipsum</p>
                <p class="footer_texts">Lorem Ipsum</p>
                <p class="footer_texts">Lorem Ipsum</p>
                <p class="footer_texts">Lorem Ipsum</p>
            </section>
        </div>
    </div>

    <hr />
    <div>
        <section>
            <h2 id="logo_footer2">LOGO</h2>
        </section>
    </div>
</div>

