<div class="footer_temp">
    <div class="footer_top">
        <div>
            <section>
                <h2 id="logo_footer">LOGO</h2>
            </section>
        </div>
        <div class="footer_columns">
            <section>
                <h3 class="footer_texts">Lorem Ipsum</h3>
                <p class="footer_texts">Lorem Ipsum</p>
                <p class="footer_texts">Lorem Ipsum</p>
                <p class="footer_texts">Lorem Ipsum</p>
                <p class="footer_texts">Lorem Ipsum</p>
                <p class="footer_texts">Lorem Ipsum</p>
            </section>

            <section>
                <h3 class="footer_texts">Lorem Ipsum</h3>

                <div class="icon_text_row">
                    <img src="../Resources/instagram_logo.png" alt="Instagram">
                    <p class="footer_texts">Lorem Ipsum</p>
                </div>
                <div class="icon_text_row">
                    <img src="../Resources/facebook_logo.png" alt="Facebook">
                    <p class="footer_texts">Lorem Ipsum</p>
                </div>
                <div class="icon_text_row">
                    <img src="../Resources/twitter_logo.png" alt="Twitter">
                    <p class="footer_texts">Lorem Ipsum</p>
                </div>
                <div class="icon_text_row">
                    <img src="../Resources/tiktok_logo.png" alt="TikTok">
                    <p class="footer_texts">Lorem Ipsum</p>
                </div>
            </section>
        </div>
    </div>

    <hr />
    <div class="footer_bottom">
        <div>
            <section>
                <h2 id="logo_footer2">LOGO</h2>
            </section>
        </div>
        <div>
            <p class="footer_texts">Lorem Ipsum</p>
            <p class="footer_texts">Lorem Ipsum</p>
        </div>
    </div>


</div>