<link rel="stylesheet" href="/PS-FitPlanner/Styles/header.css">
<div class="header_temp">
<p id="logo">Logo</p>
<nav>
    <a href="../Pages/my_routines.html" class="enlaces">Lorem</a>
    <a href="../Pages/edit_rutine.html" class="enlaces">Lorem</a>
    <a href="../Pages/add_exercise.html" class="enlaces">Lorem</a>
</nav>
<img id="shop" src="/PS-FitPlanner/Resources/40368.png" onclick="location.replace('../Pages/shop.html')">
<img id="chat" src="/PS-FitPlanner/Resources/chat.png" onclick="location.replace('../Pages/chat.html')">
<div id="buttons">
    <div id="buttons-login">
        <button class="logs" onclick="location.replace('../Pages/register.html')">Lorem impsum</button>
        <button class="logs" onclick="location.replace('../Pages/login.html')">Lorem impsum</button>
    </div>
    <img id="foto_perf" src="../Resources/imagen_vertical.png" onclick="location.replace('http://localhost:63342/../PS-FitPlanner/Pages/profile.html')">
</div>
</div>