<link rel="stylesheet" href="../Styles/header.css">
<div class="header_temp">
    <p id="logo" onclick="location.replace('../Pages/first_page.html')"></p>
    <nav>
        <a id="crear_rutinas" href="../Pages/my_routines.html" class="enlaces"></a>
        <a id="ver_rutinas" href="../Pages/rutine.html" class="enlaces"></a>
    </nav>

    <div id="buttons">
        <img id="shop" src="../Resources/40368.png" onclick="location.replace('../Pages/shop.html')">
        <img id="chat" src="../Resources/chat.png">
        <div id="buttons-login">
            <button class="logs iniciar" onclick="location.replace('../Pages/register.html')"></button>
            <button class="logs iniciar" onclick="location.replace('../Pages/login.html')"></button>
            <button class="logs cerrar"></button>
        </div>
        <img id="spanish" src="../Resources/spain.png" alt="">
        <img id="english" src="../Resources/english.png" alt="">
        <img id="foto_perf" src="../Resources/imagen_vertical.png" onclick="location.replace('../Pages/profile.html')">
    </div>
</div>
