<link rel="stylesheet" href="/Styles/header.css">
<link rel="stylesheet" href="/Styles/responsive_header.css" media="screen and (max-width: 1440px)">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="header_temp">
<p id="logo">Logo</p>
<nav>
    <a href="../Pages/create_rutine.html" class="enlaces">Lorem</a>
    <a href="../Pages/edit_rutine.html" class="enlaces">Lorem</a>
    <a href="../Pages/add_exercise.html" class="enlaces">Lorem</a>
</nav>
<div id="buttons">
    <div id="buttons-login">
        <button class="logs" onclick="location.replace('http://localhost:63342/PWM-Fitness-App/Pages/register.html')">Lorem impsum</button>
        <button class="logs" onclick="location.replace('http://localhost:63342/PWM-Fitness-App/Pages/login.html')">Lorem impsum</button>
    </div>
    <img id="foto_perf" src="/Resources/imagen_vertical.png" onclick="location.replace('http://localhost:63342/PWM-Fitness-App/Pages/profile.html')">
</div>
</div>
