<link rel="stylesheet" href="/Styles/header.css">
<div class="header_temp">
<p id="logo">Logo</p>
<nav>
    <a href="../Pages/create_rutine.html" class="enlaces">Lorem</a>
    <a href="../Pages/edit_rutine.html" class="enlaces">Lorem</a>
    <a href="../Pages/add_exercise.html" class="enlaces">Lorem</a>
</nav>
<div id="buttons">
    <div id="buttons-login">
        <button class="logs" onclick="/Pages/login.html">Lorem impsum</button>
        <button class="logs">Lorem impsum</button>
    </div>
    <img id="foto_perf" src="/Resources/imagen_vertical.png">
</div>
</div>