<link rel="stylesheet" href="/Templates/login/login.css">
<div class="wrapper">
    <h2>Doren Ipsum</h2>
    <form action="#">
        <div class="input-box">
            <input type="text" placeholder="Loren Ipsum" required>
        </div>
        <div class="input-box">
            <input type="text" placeholder="Loren Ipsum" required>
        </div>
        <div class="input-box">
            <input type="text" placeholder="Loren Ipsum" required>
        </div>
        <div class="input-box">
            <input type="text" placeholder="Loren Ipsum" required>
        </div>
        <div class="input-box">
            <input type="submit" value="Doren Ipsum">
        </div>
    </form>
</div>
