*
{
    margin:0;
    padding:0;
    font-size: 30px;
}
.info_exercise
{
    display: flex;
    justify-content: center;
    margin-inline: 5em;
    margin-block: 0.3em;
}
#name_exercise
{
    padding: 20px;
    background-color: #D9D9D9;
    padding-inline: 5em;
}
#reps
{
    margin-left: 2em;
    background-color: #D9D9D9;
    padding: 20px;
}